VITE_SUPABASE_URL=https://jdkbinqctkheknbjfwep.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impka2JpbnFjdGtoZWtuYmpmd2VwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NTgwNDcsImV4cCI6MjA4ODUzNDA0N30.FHTo-tz_3uZJ_W_VlDR9zLUMREbfiuwvjRF8DwPXZhQ
GEMINI_API_KEY=
